<!DOCTYPE html>
<html lang="en" ng-app="PokeQuizz">
	<head>
		<title>PokeQuizz</title>
		<meta charset="utf-8" />
		<base href="/PokeQuizz/">
		<link rel="shortcut icon" href="./images/favicon.ico" />
		
		<!-- Bower vendors -->
		<script src="./bower_components/angular/angular.js"></script>
		<script src="./bower_components/angular-route/angular-route.js"></script>
		
		<!-- Modules -->
		<script src="./modules/i18n.js"></script>
		<script src="./modules/Pokemon.js"></script>
		<link rel="stylesheet" type="text/css" href="./modules/Pokemon/directives/pokemon.css" />
		
		<script src="./modules/PokeApi.js"></script>
		
		<!-- Define PokeQuizz app -->
		<script src="./app.js"></script>
		
		<!-- Include just one controller: it configures the whole app (like i18n). Other controllers are auto-loaded -->
		<script src="./controllers/main.js"></script>
		
		<link rel="stylesheet" type="text/css" href="./css/main.css" />
	</head>
	<body ng-controller="mainCtrl">
		
		<p id="localesContainer">
			<span
				ng-click="user.locale = 'fr-FR'"
				class="flag fr-FR"
				ng-class="{active: user.locale === 'fr-FR'}"></span>
			<span
				ng-click="user.locale = 'en-US'"
				class="flag en-US"
				ng-class="{active: user.locale === 'en-US'}"></span>
		</p>
		
		<div ng-view class="mainContainer"></div>
	
	</body>
</html>