<pokemon
		ng-show="currentPokemon.name"
		pokemon="currentPokemon"></pokemon>
		
<p ng-show="currentPokemon.name">
	<span ng-show="currentPokemon.types.length === 1">What is the type of <b>{{currentPokemon.name}}</b> ?</span>
	<span ng-show="currentPokemon.types.length === 2"><b>{{currentPokemon.name}}</b> is a <b>{{currentPokemon.types[0].name}}</b> Pokémon, but he has another type! Which one?</span>
</p>
		
<p>
	<input
		type="button"
		ng-repeat="type in types"
		ng-click="checkType(type.toLowerCase())"
		ng-disabled="currentPokemon.types.length > 1 && type.toLowerCase() === currentPokemon.types[0].name"
		value="{{type}}"
		class="btn type {{type | lowercase}}" />
</p>
		
		
<span ng-repeat="i in [0,0,0,0,0,0,0,0,0,0] track by $index" ng-bind-html="answers[$index] | pikachuIcon"></span>